<a href="https://colab.research.google.com/github/Injamtanvir/Coursera_Courses_Codes/blob/main/Crash_Course_On_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Crash Course on Python

#Module 1

In [ ]:
friends = ['Taylor', 'Alex', 'Pat', 'Eli']
for friend in friends:
    print("Hi " + friend)

Hi Taylor
Hi Alex
Hi Pat
Hi Eli

In [ ]:
for i in range(10):
  print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [ ]:
print("I'm programming in Python!")

I'm programming in Python!

In [ ]:
name = "Alex"
print("Hello " + name)

Hello Alex

In [ ]:
name = "Robert"
print("Hello " + name)

Hello Robert

In [ ]:
print(4+5)

9

In [ ]:
print(9*7)

63

In [ ]:
print(-1/4)

-0.25

In [ ]:
print(1/3)

0.3333333333333333

In [ ]:
#For Commenting we used # operator as comment

In [ ]:
print(((2050/5)-32)/9)

42.0

In [ ]:
print(2**10)  #In python, for power we used ** operator

1024

In [ ]:
print(((1+2)*3)/4)

2.25

In [ ]:
print("Programming in Python is fun!")

Programming in Python is fun!

In [ ]:
ratio = ((1+5**(1/2))/2)
print(ratio)

1.618033988749895

In [ ]:
# Syntax for printing a string of text
print("I love Python!")


# Syntax for printing numeric values
print(360)
print(32*45)


# Syntax for printing the value of a variable
value = 8*6
print(value)

I love Python!
360
1440
48

In [ ]:
# Multiplication, division, addition, and subtraction
print(3*8/2+5-1)

# Exponents
print(4**6) # Syntax means 4 to the power of 6
print(4**2) # To square a number
print(4**3) # To cube a number
print(4**0.5) # To find the square root of a number

# To calculate how many different possible combinations can be
# formed using a set of "x" characters with each character in "x"
# having "y" number of possible values, you will need to use an
# exponent for the calculation:
x = 4
y = 26
print(y**x)

16.0
4096
16
64
2.0
456976

In [ ]:
# Assignment of values to the variables:
years = 10
weeks_in_a_year = 52
# This variable is assigned an arithmetic calculation:
weeks_in_a_decade = years * weeks_in_a_year
# Prints the calculation stored in the "weeks_in_a_decade" variable:
print(weeks_in_a_decade)

520

In [ ]:
print("Automating with Python is fun!")

Automating with Python is fun!

In [ ]:
print(2+2/((2+2)+(2**2)))

2.25

In [ ]:
print(12/(1+2)+2**2)

8.0

In [ ]:
'''Assuming there are 60 minutes in an hour, write a program that calculates the number of minutes in a 24 hour day. Print the result on the screen. Note: Your result should be in the format of just a number, not a sentence.'''
# Enter code here:
print(24 * 60)

# Should print 1440

1440

In [ ]:
'''
Keeping in mind there are 60 seconds per minute , write a program that calculates how many seconds there are in an hour .Print the result to the screen. Note: Your result should be in the format of just a number, not a sentence.
'''
# Enter code here:

print(60*60)

# Should print 3600

3600

In [ ]:
'''Use Python to calculate how many different passwords can be formed with 6 lower case English letters (excludes any character not found in the English alphabet).  For a 1 letter password, there would be 26 possibilities; one for every letter of the English alphabet.  For a 2 letter password, each letter is independent of the other, so there would be 26 times 26 possibilities. Using this information, print the amount of possible passwords that can be formed with 3 letters.'''

# Enter code here:
print(26**3)
# Should print 17576

17576

In [ ]:
'''Use the Python print function to calculate how many number-based passcodes can be formed with 10 numerals (0 through 9).  Here’s a hint to help you: When each digit of a passcode is independent of the others, the total number of combinations is simply the number of possibilities for each digit raised to the power of the length of the passcode. So, for a 1-numeral passcode, there would be 10 possibilities; one for every numeral from 0 to 9.  For a 2-numeral passcode, each numeral is independent of the other, so there would be 10 times 10 possibilities. Using this information, print the amount of possible passwords that can be formed with 3 numerals. Note:Your result should be in the number format, not a sentence.'''
# Should print 1000
print(10**3)

1000

In [ ]:
'''Consider this scenario about using Python to make calculations:

In a managed computing environment, there are 200 remote computers that must download 200 MB (megabytes) of updates each month. There are 1024 KB (kilobytes) in each MB.

Fill in the blank in the code below to compute the number of total kilobytes downloaded by all computers from the remote update server each month. Multiply the total number of computers by the download size in KB to calculate. '''

download_size_kb = 200*1024
total_computers = 200
total_kbs = total_computers * download_size_kb

print(total_kbs) # Should print 40960000.0

40960000

#Module 2

In [8]:
#Data Types

In [1]:
print(7+8)

15

In [2]:
print("Hello "+ "World")

Hello World

In [4]:
print(7 + "8") #will get an error

TypeError: ignored

In [5]:
print(type("a"))

<class 'str'>

In [6]:
print(type(2))

<class 'int'>

In [7]:
print(type(2.5))

<class 'float'>

In [10]:
length = 10
width = 2
area = length * width
print(area)

20

In [12]:
base = 5
height = 3
area = (base*height) / 2  #The area of a Triangle
print(area)

7.5

In [14]:
#Implicit conversion
print(7 + 8.5) # convert integer 7 into float , we called it Implicit Conversion: The interpreter automatically converts one data type into another

15.5

In [15]:
print("a"+"b"+"c")

abc

In [16]:
print("This "+ "is "+"Pretty "+"neat!")

This is Pretty neat!

In [17]:
base = 5
height = 3
area = (base*height) / 2  #The area of a Triangle
print("The area of the triangle is: "+ str(area)) #Explicit conversion

The area of the triangle is: 7.5

In [18]:
total = 2048 + 4357 + 97658 + 125 + 8
files = 5
average = total / files
print("The average size is: "+ str(average))

The average size is: 20839.2

In [19]:
# The following lines assign the variable to the left of the =
# assignment operator with the values and arithmetic expressions
# on the right side of the = assignment operator.
hotel_room = 100
tax = hotel_room * 0.08
total = hotel_room + tax
room_guests = 4
share_per_person = total/room_guests

# This line outputs the result of the final calculation stored
# in the variable "share_per_person"
print("Each person needs to pay: " + str(share_per_person)) # change a data type

Each person needs to pay: 27.0

In [20]:
# The following 5 lines assign strings to a list of variables.
salutation = "Dr."
first_name = "Prisha"
middle_name = "Jai"
last_name = "Agarwal"
suffix = "Ph.D."

print(salutation + " " + first_name + " " + middle_name + " " + last_name + ", " + suffix)
# The comma as a string ", " adds the conventional use of a comma plus a
# space to separate the last name from the suffix.

# Alternatively, you could use commas in place of the + connector:
print(salutation, first_name, middle_name, last_name,",", suffix)
# However, you will find that this produces a space before a comma within a string.

Dr. Prisha Jai Agarwal, Ph.D.
Dr. Prisha Jai Agarwal , Ph.D.

In [21]:
#print("5 * 3 = " + (5*3))

# Resolution:
print("5 * 3 = " + str(5*3))
#
# To avoid a type error between the string and the integer within the
# print() function, you can make an explicit data type conversion by
# using the str() function to convert the integer to a string.

5 * 3 = 15

In [22]:
numerator = 7
denominator = 0   # Possible resolution: Change the denominator value
result = numerator / denominator
print(result)

# One possible assumption for a number divided by zero error might
# include the issue of a null value as a denominator (could happen when
# using a loop to iterate over values in a database). In such cases, the
# desired outcome may be to leave the numerator value intact. The
# numerator value can be preserved by reassigning the denominator with
# the integer value of 1. The result would then equal the numerator.

ZeroDivisionError: ignored

In [23]:
print("2 + 2 = " + str(2 + 2))

2 + 2 = 4

In [25]:
bill = 47.28 # Assign "bill" variable with bill amount
tip = bill * (15/100) # Multiply by stated tip rate
total = bill + tip # Sum the "total" of the "bill" and "tip"
share = total / 2 # Divide "total" by number of friends dining
print("Each person needs to pay: " + str(share)) # Enter the required string and "share"
# Hint: Remember to convert incompatible data types

Each person needs to pay: 27.186

In [26]:
numerator = 10
denominator = 10
result = numerator / denominator
print(int(result))

1

In [28]:
word1 = "How"
word2 = "do"
word3 = "you"
word4 = "like"
word5 = "Python"
word6 = "so"
word7 = "far?"

print(word1+" "+word2+" "+word3+" "+word4+" "+word5+" "+word6+" "+word7)

How do you like Python so far?

In [29]:
#Functions

In [31]:
def greeting(name):
  print("Welcome, "+ name)
greeting("Kay")
greeting("Roha")

Welcome, Kay
Welcome, Roha

In [32]:
def greeting(name, department):
  print("Welcome, "+ name)
  print("You are part of "+ department)
greeting("Kay", "IT Support")
greeting("Roha", "Management")

Welcome, Kay
You are part of IT Support
Welcome, Roha
You are part of Management

In [33]:
def area_triangle(base, height):
  return base*height/2

area_a = area_triangle(5, 4)
area_b = area_triangle(7, 3)

sum = area_a + area_b
print("The sum of both area is: "+ str(sum))

The sum of both area is: 20.5

In [34]:
def convert_seconds(seconds):
  hours = seconds // 3600
  minutes = (seconds - hours *3600) // 60
  remaining_seconds = seconds - hours * 3600 - minutes * 60
  return hours, minutes, remaining_seconds

hours, minutes, seconds = convert_seconds(5000)
print(hours, minutes, seconds)

1 23 20

In [35]:
def greeting(name):
  print("Welcome, "+ name)
result = greeting("Kay")
print(result)

Welcome, Kay
None

In [36]:
name = "Kay"
number = len(name) * 9

print("Hello "+ name + ". Your lucky number is "+ str(number))

name = "Katherine"
number = len(name) * 9

print("Hello "+ name + ". Your lucky number is "+ str(number))

Hello Kay. Your lucky number is 27
Hello Katherine. Your lucky number is 81

In [37]:
def lucky_number(name):
  number = len(name) * 9
  print("Hello "+ name + ". Your lucky number is "+ str(number))

lucky_number("Roha")
lucky_number("Cameron")

Hello Roha. Your lucky number is 36
Hello Cameron. Your lucky number is 63

In [38]:
#Refactor code
def circle_area(radius):
  pi = 3.14
  area = pi * (radius ** 2)
  print(area)

circle_area(5)

78.5

In [ ]:
# This function calculates the number of days in a variable number of
# years, months, and days. These variables are provided by the user and
# are passed to the function through the function’s parameters.
def find_total_days(years, months, days):
# Assign a variable to hold the calculations for the number of days in
# a year (years*365) plus the number of days in a month (months*30) plus
# the number of days provided through the "days" parameter variable.
    my_days = (years*365) + (months*30) + days
# Use the "return" keyword to send the result of the "my_days"
# calculation to the function call.
    return my_days

# Function call with user provided parameter values.
print(find_total_days(2,5,23))

In [43]:
# This function converts fluid ounces to milliliters and returns the
# result of the conversion.
def convert_volume(fluid_ounce):
# Calculate value of the "ml" variable using the parameter variable
# "fluid_ounce". There are approximately 29.5 milliliters in 1 fluid
# ounce.
    ml = fluid_ounce * 29.5
# Return the result of the calculation.
    return ml

# Call the conversion from within the print() function using 2 fluid
# ounces. Convert the return value from a float to a string.
print("The volume in millimeters is " + str(convert_volume(2)))

# Call the function again and double the 2 fluid ounces from within
# the print function.
print("The volume in millimeters is " + str(convert_volume(2)*2))
# Alternative calculation:
print("The volume in millimeters is " + str(convert_volume(4)))

The volume in millimeters is 59.0
The volume in millimeters is 118.0
The volume in millimeters is 118.0

In [45]:
# 1) Complete the function to return the result of the conversion
def convert_distance(miles):
	km = miles * 1.6  # approximately 1.6 km in 1 mile
	return km

# Do not indent any of the following lines of code as they are
# meant to be located outside of the function above

my_trip_miles = 55

# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km =convert_distance(my_trip_miles)

# 3) Fill in the blank to print the result of the my_trip_km conversion
print("The distance in kilometers is " + str(my_trip_km))

# 4) Calculate the round-trip in kilometers by doubling the result of
#    my_trip_km. Fill in the blank to print the result.
print("The round-trip in kilometers is " + str(my_trip_km*2))

The distance in kilometers is 88.0
The round-trip in kilometers is 176.0

In [44]:
# This function compares two numbers and returns them
# in increasing order.
def order_numbers(number1, number2):
	if number2 > number1:
		return number1, number2
	else:
		return number2, number1

# 1) Fill in the blanks so the print statement displays the result
#    of the function call
smaller, bigger = order_numbers(100, 99)
print(smaller, bigger)

99 100

In [46]:
def print_seconds(hours, minutes, seconds):
    print(hours*3600+minutes*60+seconds)


print_seconds(1,2,3)
#output will print to the screen

3723

#Module 3