<a href="https://colab.research.google.com/github/Injamtanvir/Coursera_Courses_Codes/blob/main/Crash_Course_On_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Crash Course on Python

#Module 1

In [ ]:
friends = ['Taylor', 'Alex', 'Pat', 'Eli']
for friend in friends:
    print("Hi " + friend)

Hi Taylor
Hi Alex
Hi Pat
Hi Eli

In [ ]:
for i in range(10):
  print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [ ]:
print("I'm programming in Python!")

I'm programming in Python!

In [ ]:
name = "Alex"
print("Hello " + name)

Hello Alex

In [ ]:
name = "Robert"
print("Hello " + name)

Hello Robert

In [ ]:
print(4+5)

9

In [ ]:
print(9*7)

63

In [ ]:
print(-1/4)

-0.25

In [ ]:
print(1/3)

0.3333333333333333

In [ ]:
#For Commenting we used # operator as comment

In [ ]:
print(((2050/5)-32)/9)

42.0

In [ ]:
print(2**10)  #In python, for power we used ** operator

1024

In [ ]:
print(((1+2)*3)/4)

2.25

In [ ]:
print("Programming in Python is fun!")

Programming in Python is fun!

In [ ]:
ratio = ((1+5**(1/2))/2)
print(ratio)

1.618033988749895

In [ ]:
# Syntax for printing a string of text
print("I love Python!")


# Syntax for printing numeric values
print(360)
print(32*45)


# Syntax for printing the value of a variable
value = 8*6
print(value)

I love Python!
360
1440
48

In [ ]:
# Multiplication, division, addition, and subtraction
print(3*8/2+5-1)

# Exponents
print(4**6) # Syntax means 4 to the power of 6
print(4**2) # To square a number
print(4**3) # To cube a number
print(4**0.5) # To find the square root of a number

# To calculate how many different possible combinations can be
# formed using a set of "x" characters with each character in "x"
# having "y" number of possible values, you will need to use an
# exponent for the calculation:
x = 4
y = 26
print(y**x)

16.0
4096
16
64
2.0
456976

In [ ]:
# Assignment of values to the variables:
years = 10
weeks_in_a_year = 52
# This variable is assigned an arithmetic calculation:
weeks_in_a_decade = years * weeks_in_a_year
# Prints the calculation stored in the "weeks_in_a_decade" variable:
print(weeks_in_a_decade)

520

In [ ]:
print("Automating with Python is fun!")

Automating with Python is fun!

In [ ]:
print(2+2/((2+2)+(2**2)))

2.25

In [ ]:
print(12/(1+2)+2**2)

8.0

In [ ]:
'''Assuming there are 60 minutes in an hour, write a program that calculates the number of minutes in a 24 hour day. Print the result on the screen. Note: Your result should be in the format of just a number, not a sentence.'''
# Enter code here:
print(24 * 60)

# Should print 1440

1440

In [ ]:
'''
Keeping in mind there are 60 seconds per minute , write a program that calculates how many seconds there are in an hour .Print the result to the screen. Note: Your result should be in the format of just a number, not a sentence.
'''
# Enter code here:

print(60*60)

# Should print 3600

3600

In [ ]:
'''Use Python to calculate how many different passwords can be formed with 6 lower case English letters (excludes any character not found in the English alphabet).  For a 1 letter password, there would be 26 possibilities; one for every letter of the English alphabet.  For a 2 letter password, each letter is independent of the other, so there would be 26 times 26 possibilities. Using this information, print the amount of possible passwords that can be formed with 3 letters.'''

# Enter code here:
print(26**3)
# Should print 17576

17576

In [ ]:
'''Use the Python print function to calculate how many number-based passcodes can be formed with 10 numerals (0 through 9).  Here’s a hint to help you: When each digit of a passcode is independent of the others, the total number of combinations is simply the number of possibilities for each digit raised to the power of the length of the passcode. So, for a 1-numeral passcode, there would be 10 possibilities; one for every numeral from 0 to 9.  For a 2-numeral passcode, each numeral is independent of the other, so there would be 10 times 10 possibilities. Using this information, print the amount of possible passwords that can be formed with 3 numerals. Note:Your result should be in the number format, not a sentence.'''
# Should print 1000
print(10**3)

1000

In [ ]:
'''Consider this scenario about using Python to make calculations:

In a managed computing environment, there are 200 remote computers that must download 200 MB (megabytes) of updates each month. There are 1024 KB (kilobytes) in each MB.

Fill in the blank in the code below to compute the number of total kilobytes downloaded by all computers from the remote update server each month. Multiply the total number of computers by the download size in KB to calculate. '''

download_size_kb = 200*1024
total_computers = 200
total_kbs = total_computers * download_size_kb

print(total_kbs) # Should print 40960000.0

40960000

#Module 2

In [8]:
#Data Types

In [1]:
print(7+8)

15

In [2]:
print("Hello "+ "World")

Hello World

In [4]:
print(7 + "8") #will get an error

TypeError: ignored

In [5]:
print(type("a"))

<class 'str'>

In [6]:
print(type(2))

<class 'int'>

In [7]:
print(type(2.5))

<class 'float'>

In [10]:
length = 10
width = 2
area = length * width
print(area)

20

In [12]:
base = 5
height = 3
area = (base*height) / 2  #The area of a Triangle
print(area)

7.5

In [14]:
#Implicit conversion
print(7 + 8.5) # convert integer 7 into float , we called it Implicit Conversion: The interpreter automatically converts one data type into another

15.5

In [15]:
print("a"+"b"+"c")

abc

In [16]:
print("This "+ "is "+"Pretty "+"neat!")

This is Pretty neat!

In [17]:
base = 5
height = 3
area = (base*height) / 2  #The area of a Triangle
print("The area of the triangle is: "+ str(area)) #Explicit conversion

The area of the triangle is: 7.5

In [18]:
total = 2048 + 4357 + 97658 + 125 + 8
files = 5
average = total / files
print("The average size is: "+ str(average))

The average size is: 20839.2

In [19]:
# The following lines assign the variable to the left of the =
# assignment operator with the values and arithmetic expressions
# on the right side of the = assignment operator.
hotel_room = 100
tax = hotel_room * 0.08
total = hotel_room + tax
room_guests = 4
share_per_person = total/room_guests

# This line outputs the result of the final calculation stored
# in the variable "share_per_person"
print("Each person needs to pay: " + str(share_per_person)) # change a data type

Each person needs to pay: 27.0

In [20]:
# The following 5 lines assign strings to a list of variables.
salutation = "Dr."
first_name = "Prisha"
middle_name = "Jai"
last_name = "Agarwal"
suffix = "Ph.D."

print(salutation + " " + first_name + " " + middle_name + " " + last_name + ", " + suffix)
# The comma as a string ", " adds the conventional use of a comma plus a
# space to separate the last name from the suffix.

# Alternatively, you could use commas in place of the + connector:
print(salutation, first_name, middle_name, last_name,",", suffix)
# However, you will find that this produces a space before a comma within a string.

Dr. Prisha Jai Agarwal, Ph.D.
Dr. Prisha Jai Agarwal , Ph.D.

In [21]:
#print("5 * 3 = " + (5*3))

# Resolution:
print("5 * 3 = " + str(5*3))
#
# To avoid a type error between the string and the integer within the
# print() function, you can make an explicit data type conversion by
# using the str() function to convert the integer to a string.

5 * 3 = 15

In [22]:
numerator = 7
denominator = 0   # Possible resolution: Change the denominator value
result = numerator / denominator
print(result)

# One possible assumption for a number divided by zero error might
# include the issue of a null value as a denominator (could happen when
# using a loop to iterate over values in a database). In such cases, the
# desired outcome may be to leave the numerator value intact. The
# numerator value can be preserved by reassigning the denominator with
# the integer value of 1. The result would then equal the numerator.

ZeroDivisionError: ignored

In [23]:
print("2 + 2 = " + str(2 + 2))

2 + 2 = 4

In [25]:
bill = 47.28 # Assign "bill" variable with bill amount
tip = bill * (15/100) # Multiply by stated tip rate
total = bill + tip # Sum the "total" of the "bill" and "tip"
share = total / 2 # Divide "total" by number of friends dining
print("Each person needs to pay: " + str(share)) # Enter the required string and "share"
# Hint: Remember to convert incompatible data types

Each person needs to pay: 27.186

In [26]:
numerator = 10
denominator = 10
result = numerator / denominator
print(int(result))

1

In [28]:
word1 = "How"
word2 = "do"
word3 = "you"
word4 = "like"
word5 = "Python"
word6 = "so"
word7 = "far?"

print(word1+" "+word2+" "+word3+" "+word4+" "+word5+" "+word6+" "+word7)

How do you like Python so far?

In [29]:
#Functions

In [31]:
def greeting(name):
  print("Welcome, "+ name)
greeting("Kay")
greeting("Roha")

Welcome, Kay
Welcome, Roha

In [32]:
def greeting(name, department):
  print("Welcome, "+ name)
  print("You are part of "+ department)
greeting("Kay", "IT Support")
greeting("Roha", "Management")

Welcome, Kay
You are part of IT Support
Welcome, Roha
You are part of Management

In [33]:
def area_triangle(base, height):
  return base*height/2

area_a = area_triangle(5, 4)
area_b = area_triangle(7, 3)

sum = area_a + area_b
print("The sum of both area is: "+ str(sum))

The sum of both area is: 20.5

In [34]:
def convert_seconds(seconds):
  hours = seconds // 3600
  minutes = (seconds - hours *3600) // 60
  remaining_seconds = seconds - hours * 3600 - minutes * 60
  return hours, minutes, remaining_seconds

hours, minutes, seconds = convert_seconds(5000)
print(hours, minutes, seconds)

1 23 20

In [35]:
def greeting(name):
  print("Welcome, "+ name)
result = greeting("Kay")
print(result)

Welcome, Kay
None

In [36]:
name = "Kay"
number = len(name) * 9

print("Hello "+ name + ". Your lucky number is "+ str(number))

name = "Katherine"
number = len(name) * 9

print("Hello "+ name + ". Your lucky number is "+ str(number))

Hello Kay. Your lucky number is 27
Hello Katherine. Your lucky number is 81

In [37]:
def lucky_number(name):
  number = len(name) * 9
  print("Hello "+ name + ". Your lucky number is "+ str(number))

lucky_number("Roha")
lucky_number("Cameron")

Hello Roha. Your lucky number is 36
Hello Cameron. Your lucky number is 63

In [38]:
#Refactor code
def circle_area(radius):
  pi = 3.14
  area = pi * (radius ** 2)
  print(area)

circle_area(5)

78.5

In [ ]:
# This function calculates the number of days in a variable number of
# years, months, and days. These variables are provided by the user and
# are passed to the function through the function’s parameters.
def find_total_days(years, months, days):
# Assign a variable to hold the calculations for the number of days in
# a year (years*365) plus the number of days in a month (months*30) plus
# the number of days provided through the "days" parameter variable.
    my_days = (years*365) + (months*30) + days
# Use the "return" keyword to send the result of the "my_days"
# calculation to the function call.
    return my_days

# Function call with user provided parameter values.
print(find_total_days(2,5,23))

In [43]:
# This function converts fluid ounces to milliliters and returns the
# result of the conversion.
def convert_volume(fluid_ounce):
# Calculate value of the "ml" variable using the parameter variable
# "fluid_ounce". There are approximately 29.5 milliliters in 1 fluid
# ounce.
    ml = fluid_ounce * 29.5
# Return the result of the calculation.
    return ml

# Call the conversion from within the print() function using 2 fluid
# ounces. Convert the return value from a float to a string.
print("The volume in millimeters is " + str(convert_volume(2)))

# Call the function again and double the 2 fluid ounces from within
# the print function.
print("The volume in millimeters is " + str(convert_volume(2)*2))
# Alternative calculation:
print("The volume in millimeters is " + str(convert_volume(4)))

The volume in millimeters is 59.0
The volume in millimeters is 118.0
The volume in millimeters is 118.0

In [45]:
# 1) Complete the function to return the result of the conversion
def convert_distance(miles):
	km = miles * 1.6  # approximately 1.6 km in 1 mile
	return km

# Do not indent any of the following lines of code as they are
# meant to be located outside of the function above

my_trip_miles = 55

# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km =convert_distance(my_trip_miles)

# 3) Fill in the blank to print the result of the my_trip_km conversion
print("The distance in kilometers is " + str(my_trip_km))

# 4) Calculate the round-trip in kilometers by doubling the result of
#    my_trip_km. Fill in the blank to print the result.
print("The round-trip in kilometers is " + str(my_trip_km*2))

The distance in kilometers is 88.0
The round-trip in kilometers is 176.0

In [44]:
# This function compares two numbers and returns them
# in increasing order.
def order_numbers(number1, number2):
	if number2 > number1:
		return number1, number2
	else:
		return number2, number1

# 1) Fill in the blanks so the print statement displays the result
#    of the function call
smaller, bigger = order_numbers(100, 99)
print(smaller, bigger)

99 100

In [46]:
def print_seconds(hours, minutes, seconds):
    print(hours*3600+minutes*60+seconds)


print_seconds(1,2,3)
#output will print to the screen

3723

In [1]:
print(10>1)

True

In [2]:
print("Cat" == "Dog")

False

In [3]:
print(1 != 2)

True

In [4]:
print(1 < "1")

TypeError: ignored

In [5]:
print(1 == "1")

False

In [6]:
print("Yellow" > "Cyan" and "Brown" > "Magenta")

False

In [7]:
print(25 > 50 or 1 != 2)

True

In [8]:
print(not 42 == "Answer")

True

In [10]:

print(32 == 30+2)   # The == operator checks if the 2 values are
#True               # equal to each other. If they are equal,
                    # Python returns a True result.


print(5+10 == 6+7)  # If the two values are not equal, as in the
#False              # expression 5+10 == 6+7 (or 15 == 13), Python
                    # returns a False result.


print(10-4 != 10+4) # The != operator checks if the 2 values are
#True               # NOT equal to each other. If true, Python
                    # returns a True result.


print(9/3 != 3*1)   # In this last example, 9/3 != 3*1 (or 3 != 3)
#False              # is false. So, Python returns a False value.

True
False
True
False

In [11]:

# The = equals assignment operator is used to assign a value to a
# variable.

my_variable = 3*5           # Assigns a value to my_variable
print(my_variable)          # Printing the variable returns the
#15                         # value assigned to the variable.



# The == equality comparison operator checks if the values of the two
# expressions on either side of the == operator are equivalent to one
# another.

print(my_variable == 3*5)   # Printing the variable returns a Boolean
#True                       # True or False result.

15
True

In [12]:

print(11 > 3*3)         # The > operator checks if the left value is
#True                   # greater than the right value. If true, it
                        # returns a True result.


print(4/2 > 8-4)        # If the > operator finds that the left value
#False                  # is NOT greater than the right value, the
                        # comparison will return a False result.


print(4/2 < 8-4)        # The < operator checks  if the left value is
#True                   # less than the right side. If true, the
                        # comparison returns a True result.


print(11 < 3*3)         # If the < operator finds that the left side is False
                        # NOT less than the right value, Python returns
#False                  # a False result.

True
False
True
False

In [13]:

print(12*2 >= 24)   # The >= operator checks if the left value is
#True               # greater than or equal to the right value.
                    # If one of these conditions is true,
                    # Python returns a True result. In this case
                    # the two values are equal. So, the comparison
                    # returns a True result.


print(18/2 >= 15)   # If the >= comparison determines that the left False
#False              # value is NOT greater than or equal to the
                    # right, it returns a False result.

print(12*2 <= 30)   # The <= operator checks if the left value is
#True               # less than or equal to the right value. In
                    # this case, the left value is less than the
                    # right value. Again, if one of the two
                    # conditions is true, Python returns a True
                    # result.


print(15 <= 18/2)   # If the <= comparison determines that the left
#False              # value is NOT less than or equal to the right
                    # value, the comparison returns a False result.

True
False
True
False

In [14]:
# The == operator can check if two strings are equal to each other.
# If they are equal, the Python interpreter returns a True result.
print("a string" == "a string")
#True


# In this example, the equality == comparison is between "4 + 5" and
# 4 + 5. Since the left data type is a string and the right data type
# is an integer, the two values cannot be equal. So, the comparison
# returns a False result.
print("4 + 5" == 4 + 5)
#False


# The != operator can check if the two strings are NOT equal to each
# other. If they are indeed not equal, then Python returns a True result.
print("rabbit" != "frog")
#True


# In this example, the variable event_city has been assigned the string
# value "Shanghai". This variable is compared to a static string,
# "Shanghai", using the != operator. As, the strings "Shanghai" and
# "Shanghai" are the same, the comparison of "Shanghai" != "Shanghai"
# is false. Accordingly, Python will return a False result.
event_city = "Shanghai"
print(event_city != "Shanghai")
#False

# This last example illustrates the result of trying to compare two
# items of different data types using the equality == operator. The
# two items are not equal, so the comparison returns False.
print("three" == 3)
#False

True
False
True
False
False

In [17]:
# The greater than > operator checks if the left string has a higher
# Unicode value than the right string. If true, the Python interpreter
# returns a True result. Since W has a Unicode value of 87, and you can
# easily calculate that F has a Unicode value of 70, this comparison is
# the same as 87 > 70. As this is true, Python will return a True
# result.
print("Wednesday" > "Friday")
#True


# The less than < operator checks if the left string has a lower
# Unicode value than the right string. If you reference the Unicode
# chart above, you can see that all lowercase letters have higher
# Unicode values than uppercase letters. We can see that B has a
# Unicode value of 66 and b has a Unicode value of 98. This
# comparison is the same as 66 < 98, which is true. So, Python will
# return a True result.
print("Brown" < "brown")
#True


# If the strings have the same first few letters, the comparison will
# cycle through each letter of each string, from left to right until it
# finds two letters that have different Unicode values. In this example,
# both strings share the initial substring "sun", but then have
# different letters with different Unicode values in the fourth place
# in each string. So, the fourth letters 'b' and 't' of the two
# strings are used for the comparison. Since 'b' does not have a higher
# Unicode value than 't', the comparison returns a False result.
print("sunbathe" > "suntan")
#False


# If two identical strings are compared using the less than < comparison
# operator, this will produce a False result because they are equal.
print("Lima" < "Lima")
#False


# This last example illustrates the result of trying to compare two
# items of different data types using the less than < operator. The
# greater than > and less than operators < cannot be used to compare
# two different data types.
print("Five" < 6)
'''
Error on line 1:
    print("Five" < 6)
TypeError: '<' not supported between instances of 'str' and 'int'
'''

True
True
False
False

TypeError: ignored

In [18]:
# Use the Unicode chart in Part 2 to determine if the Unicode values of
# the first letters of each string are higher, lower, or equal to one
# another.


var1 = "my computer" >= "my chair"
var2 = "Spring" <= "Winter"
var3 = "pineapple" >= "pineapple"

print("Is \"my computer\" greater than or equal to \"my chair\"? Result: ", var1)
print("Is \"Spring\" less than or equal to \"Winter\"? Result: ", var2)
print("Is \"pineapple\" less than or equal to \"pineapple\"? Result: ", var3)

Is "my computer" greater than or equal to "my chair"? Result:  True
Is "Spring" less than or equal to "Winter"? Result:  True
Is "pineapple" less than or equal to "pineapple"? Result:  True

In [19]:
# Example 1

print((6*3 >= 18) and (9+9 <= 36/2))

True

In [20]:
# Example 2

print("Nairobi" < "Milan" and "Nairobi" > "Hanoi")

False

In [24]:
# True or True returns True
print((15/3 < 2+4) or (0 >= 6-7))
#True

# False or True returns True
#print(country == "New York City" or city == "New York City")
#True

# True or False returns True
print(16 <= 4**2 or 9**(0.5) != 3)
#True

# False or False returns False
print("B_name" > "C_name" or "B_name" < "A_name")
#False

True
True
False

In [25]:
# Test Example 1:

x = 2*3 > 6
print("The value of x is:")
print(x)

print("")  # Prints a blank line

print("The inverse value of x is:")
print(not x)

The value of x is:
False

The inverse value of x is:
True

In [26]:
# What happens when you negate a False statement?
# Click Run when you are ready to check your answer.


today = "Monday"
print(not today == "Tuesday")


# The "today" variable states today is Monday. This makes the comparison
# "today == Tuesday" False. The logical operator "not" inverts the False
# result to become True. In other words, this expression asks if it is
# false that today is not Tuesday. More succinctly, "not False" means
# True."

True

In [27]:
def hint_username(username):
  if len(username) < 3:
    print("Invalid username. Must be atleast 3 characters long")
  else:
    print("Valid Username")

In [28]:
def is_even(number):
  if number % 2 == 0:
    return True
  return False

In [29]:
def hint_username(username):
  if len(username) < 3:
    print("Invalid username. Must be atleast 3 characters long")
  else:
    if len(username) > 15:
      print("Invalid Ussername. Must be at most 15 characters long")
    else:
      print("Valid Username")

In [30]:
def hint_username(username):
  if len(username) < 3:
    print("Invalid username. Must be atleast 3 characters long")

  elif len(username) > 15:
    print("Invalid Ussername. Must be at most 15 characters long")
  else:
    print("Valid Username")

In [31]:
# The value of 10*4 (40) is greater than 14+23 (37), therefore this
# comparison expression will return the Boolean value of True.


print(10*4 > 14+23) # Should print True

# The letter "t" has a Unicode value of 116 and the letter "s" has a
# Unicode value of 115. Since 116 is not less than 115, the
# comparison of "tall" < "short" (or 116 < 115) is False.

print("tall" < "short")  # Should print False

True
False

In [32]:
# This function accepts one variable as a parameter
def translate_error_code(error_code):

# The if-elif-else block assesses the value of the variable
# passed to the function as a parameter. The if statement uses
# the equality operator == to test the value of the variable.
# This test returns a Boolean (True/False) result.
    if error_code == "401 Unauthorized":
# If the comparison above returns True, then the indented
# line(s) inside the if-statement will run. In this case, the
# action is to assign a string to the translation variable.
# The remainder of the if-elif-else block will not run.
# The Python interpreter will skip to the next line outside of
# the if-elif-else block. In this case, the next line is the
# return value statement.
        translation = "Server received an unauthenticated request"

# If the initial if-statement returns a False result, then the
# first elif-statement will run a different test on the value
# of the variable.
    elif error_code == "404 Not Found":
# If the first elif-statement returns a True result, then the
# indented line(s) inside the first elif-statement will run.
# After this line, the remainder of the if-elif-else block will
# not run. The Python interpreter will skip to the next line
# outside of the if-elif-else block.
        translation = "Requested web page not found on server"

# If both the initial if-statement and the first elif-statement
# return a False result, then the second elif-statement will
# run.
    elif error_code == "408 Request Timeout":
# If the second elif-statement returns a True result, then the
# indented line(s) inside the second elif-statement will run.
# After this line, the remainder of the if-elif-else block will
# not run. The Python interpreter will skip to the next line
# outside of the if-elif-else block.
        translation = "Server request to close unused connection"

# If the conditional tests above do not produce a True result
# then the else-statement will run.
    else:
        translation = "Unknown error code"
# The if-elif-else block ends.

# The next line outside of the if-elif-else block will run
# after exiting the block. In this case, the next line returns
# the output from the if-elif-else block.
    return translation

# The print() function allows us to display the output of the
# function. To call a function in a print statement, the syntax
# is print(name_of_function(parameter))
print(translate_error_code("404 Not Found"))

# Expected output:
# Requested web page not found on server

Requested web page not found on server

In [33]:
# Sets value of the "number" variable
number = 25

# The "number" variable will first be compared to 5. Since it is
# False that "number" is not less than or equal to 5, the expression indented
# under this line will be ignored.
if number <= 5:
   print("The number is 5 or smaller.")

# Next, the "number" variable will be compared to 33. Since it is
# False that "number" is equal to 33, the expression indented under
# this line will be ignored.
elif number == 33:
   print("The number is 33.")

# Then, the "number" variable will be compared to 32 and 6. Since it
# is True that 25 is less than 32 and greater than 6, the Python
# interpreter will print "The number is less than 32 and/or greater
# than 6." Then, it will exit the if-elif-else statement and the remainder
# of the if-elif-else statement will be ignored.
elif number < 32 and number >= 6:
   print("The number is less than 32 and greater than 6.")

else:
   print("The number is " + str(number))

# Expected output is:
# The number is less than 32 and greater than 6.

The number is less than 32 and greater than 6.

In [34]:
# This function rounds a variable number up to the nearest 10x value
def round_up(number):
  x = 10
# The floor division operator will calculate the integer value of
# "number" divided by x: 35 // 10 will return the integer 3.
  whole_number = number // x
# The modulo operator will calculate the remainder value of "number"
# divided by x: 35 % 10 will return the remainder value 5.
  remainder = number % x
# If the remainder is greater than 0:
  if remainder >= 5:
# Return x multiplied by the (whole_number+1) to round up
    return x*(whole_number+1)
# Else, return x multiplied by the whole_number to round down
  return x*whole_number

# Calls the function with the parameter value of 35.
print(round_up(35)) # Should print 40

40

In [35]:
def greeting(name):
  if name == "Taylor":
    return "Welcome back Taylor!"
  else:
    return "Hello there, " + name

print(greeting("Taylor"))
print(greeting("John"))

Welcome back Taylor!
Hello there, John

In [36]:
number = 10
if number > 11:
  print(0)
elif number != 10:
  print(1)
elif number >= 20 or number < 12:
  print(2)
else:
  print(3)

2

In [37]:
def calculate_storage(filesize):
    block_size = 4096
    # Use floor division to calculate how many blocks are fully occupied
    full_blocks = filesize // block_size
    # Use the modulo operator to check whether there's any remainder
    partial_block_remainder = filesize % block_size
    # Depending on whether there's a remainder or not, return
    # the total number of bytes required to allocate enough blocks
    # to store your data.
    if partial_block_remainder > 0:
        return (full_blocks + 1) * block_size
    return full_blocks * block_size

print(calculate_storage(1))    # Should be 4096
print(calculate_storage(4096)) # Should be 4096
print(calculate_storage(4097)) # Should be 8192
print(calculate_storage(6000)) # Should be 8192

4096
4096
8192
8192

In [38]:
# A function is created with the def() keyword. The parameter
# variable "time_as_string" is passed to the function through a
# call to the function.
def task_reminder(time_as_string):

    # The following if-elif-else block assigns various strings to
    # the variable "task" depending on specific conditions. The
    # test conditions are set using the == equality comparison
    # operator. In this case, the time passed through the
    # "time_as_string" parameter variable is tested as the
    # specific condition. So, if the time  is "11:30 a.m.", then
    # "task" is assigned the value: "Run TPS report".
    if time_as_string == "8:00 a.m.":
        task = "Check overnight backup images"
    elif time_as_string == "11:30 a.m.":
        task = "Run TPS report"
    elif time_as_string == "5:30 p.m.":
        task = "Reboot servers"
    # The else statement is a catchall for all other values of
    # the "time_as_string" parameter variable not listed in the
    # if-elif block of code.
    else:
        task = "Provide IT Support to employees"

    # This line returns the value of "task" to the function call.
    return task

# This line calls the function and passes a parameter
# ("10:00 a.m.") to the function.
print(task_reminder("10:00 a.m."))
# Should print "Provide IT Support to employees"

Provide IT Support to employees

In [39]:
# Example 1
# Evaluate the output of this print statement

def product(a, b):
        return(a*b)

print(product(product(2,4), product(3,5)))

#################################

# Example 2
# Evaluate the output of this print statement

def difference(a, b):
        return(a-b)

def sum(a, b):
        return(a+b)

print(difference(sum(2,2), sum(3,3)))


#################################


# Example 3
# Evaluate the Boolean output of this comparison


print((5 >= 2*4) and (5 <= 4*3))


#################################


# Example 4
# Evaluate the value of the comparison in the if statement


x = 3
if x+5 > x**2 or x % 4 != 0:
        print("This comparison is True")


#################################


# Example 5
# Evaluate the output of this if-elif-else statement


number = 6
if number * 2 < 14:
        print(number * 6 % 3)
elif number > 7:
        print(100 / number)
else:
        print(7 - number)


# Click Run to check your answers. If you are having trouble
# calculating the correct answers manually, please review the
# Practice Quiz Study Guides, videos, and readings in this Module.

120
-2
False
This comparison is True
0

In [40]:
def get_remainder(x, y):

  if x == 0 or y == 0 or x ==y:
    remainder = 0
  else:
    remainder = (x % y) / y
  return remainder


print(get_remainder(10, 3))

0.3333333333333333

In [41]:
def make_positive(number):
    if number < 0:
        result = number * -1
    else:
        result = number
    return result


print(make_positive(-4))   # Should print 4
print(make_positive(0))    # Should print 0
print(make_positive(-.25)) # Should print 0.25
print(make_positive(5))    # Should print 5

4
0
0.25
5

In [42]:
def greater_value(x, y):
    if x > y:
        return x
    else:
       return y


print(greater_value(10,3*5))

15

In [43]:
name = "Marjery"
home_address = "1234 Mockingbird Lane"
print(name + " lives at her home address of " + home_address)
# Should print "Marjery lives at her home address of 1234 Mockingbird Lane"

Marjery lives at her home address of 1234 Mockingbird Lane

In [44]:
def clothing_type(temp):
    if temp > 65:
        clothing = "T-Shirt"
    elif temp > 50:
        clothing = "Sweatshirt"
    elif temp > 32:
        clothing = "Jacket"
    else:
        clothing = "Heavy Coat"
    return clothing


print(clothing_type(72)) # Should print T-Shirt
print(clothing_type(55)) # Should print Sweatshirt
print(clothing_type(65)) # Should print Sweatshirt
print(clothing_type(50)) # Should print Jacket
print(clothing_type(45)) # Should print Jacket
print(clothing_type(32)) # Should print Heavy Coat
print(clothing_type(0)) # Should print Heavy Coat

T-Shirt
Sweatshirt
Sweatshirt
Jacket
Jacket
Heavy Coat
Heavy Coat

In [45]:
def letter_translator(letter):
    if letter == "a":
        letter_position = 1
    elif letter == "b":
        letter_position = 2
    elif letter == "c":
        letter_position = 3
    elif letter == "d":
        letter_position = 4
    else:
        letter_position = "unknown"
    return letter_position


print(letter_translator("a")) # Should print 1
print(letter_translator("b")) # Should print 2
print(letter_translator("c")) # Should print 3
print(letter_translator("d")) # Should print 4
print(letter_translator("e")) # Should print unknown
print(letter_translator("A")) # Should print unknown
print(letter_translator("")) # Should print unknown

1
2
3
4
unknown
unknown
unknown

#Module 3